.email {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f4f4f4;
  }

.email__tools {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.email__toolsLeft {
  display: flex;
}
.email__toolsRight {
  display: flex;
}

.email__body {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 0px 30px;
  background-color: white;
  padding: 20px;
  height: 100vh;
  box-shadow: 0px 5px 7px 0px rgb(0, 0, 0, 0.24)
}

.email__bodyHeader {
  display: flex;
  height: 20px;
  position: relative;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid whitesmoke;
}

.email__bodyHeader > h2 {
  font-weight: 400;
  margin-right: 20px;
}

.email__important {
  color: #e8ab02 !important;
}

.email__bodyHeader > p {
  margin-left: 20px;
}

.email__time {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 12px;
  color: gray;
}
.email__message > p {
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: break-work;
}
